.arkham-horror-tools {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.last-extracted {
  color: red;
}

::ng-deep .custom-snackbar.mat-mdc-snack-bar-container .mat-mdc-snackbar-surface {
  background-color: #115822 !important;
  color: #fff !important;
  text-align: center;
}
