.arkham-horror-tools {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.button-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Due colonne per le righe di pulsanti */
  gap: 15px; /* Spazio tra i pulsanti */
  margin-bottom: 20px;
}

.button-row {
  display: contents; /* Permette ai pulsanti di occupare le colonne corrette */
}

.button-grid button {
  width: 100%; /* I pulsanti occupano tutta la larghezza della colonna */
  padding: 10px;
  box-sizing: border-box;
}

.bag-status,
.extracted-status {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.bag-status ul,
.extracted-status ul {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  text-align: left;
}

.last-extracted {
  color: red;
}

p.version {
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .button-grid {
    grid-template-columns: 1fr; /* Una colonna su schermi piccoli */
    gap: 15px;
  }

  .bag-status ul,
  .extracted-status ul {
    grid-template-columns: 1fr; /* Lista in una singola colonna su dispositivi mobili */
  }
}

::ng-deep .custom-snackbar.mat-mdc-snack-bar-container .mat-mdc-snackbar-surface {
  background-color: #115822 !important;
  color: #fff !important;
  text-align: center;
}
